---
layout: default
---
      <div id="main-menu" class="main_menu_container">

        <ul>
          {% for post in site.posts %}
          <li id="{{ post.section_id }}" class="menu-item">
            <div class="wrapper">
              <h1>{{ post.title }}</h1>
              <h2>{{ post.subheading }}</h2>
              <p>{{ post.lead_text }}</p>
              <div class="btns">
                  <a href="{{ post.url }}">More Information</a>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

      </div> <!-- end of main_menu_container -->
      <div class="main-nav-container">
          <nav class="main-nav">
            {% for post in site.posts %}
              <a href="{{ post.section_id }}">{{ post.title }}</a>
            {% endfor %}
          </nav>
      </div>
