<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="loading">
    <div id="site-container" class="site_container">

      <ul id="site-scroller" class="site_scroller">
        <li class="page-item">
{% include header.html %}
{{ content }}
        </li> <!-- main page-item -->
        
        <li class="page-item">
        </li> <!-- detail page-item -->

      </ul> <!-- end of site-scroller -->
    </div><!-- end of site-container -->
{% include scripts.html %}
    
  </body>

</html>
