<!DOCTYPE html>
<html>

{% include head.html %}

  <body>
    <div id="site-container">

{% include header.html %}
	
		<div id="post-container" class="post">
		<a id="main-menu-link" data-current-id="{{page.section_id}}" href="/">Main</a><br>

		{% if page.next.url %}
		    <a id="nextPage" data-next-id="{{page.next.section_id}}" class="next" href="{{page.next.url}}">{{page.next.title}} &laquo;</a>
		{% endif %}

		  <header class="post-header">
		    <h1 class="post-title">{{ page.title }}</h1>
		    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
		  </header>

		  <article class="post-content">
		    {{ content }}
		  </article>

	    {% if page.previous.url %}
		    <a id="prevPage" data-prev-id="{{page.previous.section_id}}" class="prev" href="{{page.previous.url}}">&raquo; {{page.previous.title}}</a>
		{% endif %}

		</div>
	
	</div> <!-- end of site-container -->

  </body>

</html>

